spec/xsd/customer.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:group name="CustomerDataGroup">
    <xs:sequence>
      <xs:element name="Forename" type="xs:string" />
      <xs:element name="Surname"  type="xs:string" />
      <xs:element name="Dob"      type="xs:date" />
    </xs:sequence>
  </xs:group>

  <xs:element name="customer">
    <xs:complexType>
      <xs:group ref="CustomerDataGroup"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
